<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="log.directory">./logs</Property>
        <Property name="isThreadContextMapInheritable">true</Property>
        <Property name="AsyncLogger.RingBufferSize">262144</Property>
        <Property name="AsyncAppender.RingBufferSize">262144</Property>
        <Property name="log4j2.contextSelector">org.apache.logging.log4j.core.async.AsyncLoggerContextSelector</Property>
        <Property name="exceptionPattern">$${exception:json:stackTrace.stringified=true:cause.stringified=true}</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:LoggerLayout.json"/>
        </Console>

        <!-- File Appender -->
        <RollingFile name="File"
                     fileName="${log.directory}/application.log"
                     filePattern="${log.directory}/application-%d{yyyy-MM-dd}-%i.log.gz"
                     immediateFlush="false"
                     append="true">
            <JsonTemplateLayout eventTemplateUri="classpath:LoggerLayout.json"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Separate Async Appenders to prevent circular references -->
        <Async name="AsyncConsole" bufferSize="262144" includeLocation="false">
            <AppenderRef ref="Console"/>
        </Async>
        
        <Async name="AsyncFile" bufferSize="262144" includeLocation="false">
            <AppenderRef ref="File"/>
        </Async>
    </Appenders>

    <Loggers>
        <!-- Payment Audit Logger - separate from main logger to prevent loops -->
        <Logger name="PAYMENT_AUDIT" level="info" additivity="false">
            <AppenderRef ref="AsyncFile"/>
        </Logger>
        
        <!-- Application Logger - prevent circular reference -->
        <Logger name="com.imovel.api" level="info" additivity="false">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
        </Logger>
        
        <!-- ApiLogger Debug Logger (used by AuthServiceAspect) -->
        <Logger name="com.imovel.api.logger" level="debug" additivity="false">
            <AppenderRef ref="AsyncConsole"/>
            <AppenderRef ref="AsyncFile"/>
        </Logger>
        
        <!-- Stripe and external libraries -->
        <Logger name="com.stripe" level="warn" additivity="false">
            <AppenderRef ref="AsyncFile"/>
        </Logger>
        
        <!-- Spring Framework -->
        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="AsyncConsole"/>
        </Logger>

        <!-- Root Logger - simplified to prevent loops -->
        <Root level="info" includeLocation="true">
            <AppenderRef ref="AsyncConsole"/>
        </Root>
    </Loggers>
</Configuration>